allow untrusted_app_25 camera_prop:file { getattr open read };
allow untrusted_app_25 camera_data_file:dir { getattr open read };

dontaudit untrusted_app_25 proc:file { read open getattr };
dontaudit untrusted_app_25 proc_stat:file { read open getattr };
